@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica';
    src: url('../../public/Fonts/Helvetica.ttf') format('ttf'),
         url('../../public/Fonts/Helvetica-Bold.ttf') format('ttf');
    /* Add additional file formats if necessary (TTF, OTF, etc.) */
    font-weight: normal;
    font-style: normal;
  }

*{
    font-family: "Helvetica", sans-serif;
}